---
import Quicklinks from "../components/Quicklinks.astro";
import Layout from "../layouts/Layout.astro";
import Button from "../components/ui/Button.astro";
import { Image } from 'astro:assets';

import splashFull from '../images/splashFull.jpg';
import splashBanner from '../images/splashBanner.jpg';
import gary from '../images/gary.jpg';
import ashley from '../images/ashley.jpg';
import carrie from '../images/carrie.jpeg';
---
<Layout title="Meet Our Team - Compass Insurance Group">
    <div class="mb-4 lg:mb-8">
        <div class="w-full h-1/3 lg:hidden"><Image alt="Compass Insurance Group splash logo" src={splashBanner} class="object-cover h-full w-full lg:hidden" loading="eager" /></div>
        <div class="hidden lg:block mx-auto w-[900px] h-[506px]" ><Image alt="Compass Insurance Group splash logo" src={splashFull} class="object-cover h-full w-full" loading="eager" /></div>
    </div>
    <div class="relative flex flex-col gap-4 lg:gap-6 px-6 md:px-0 md:max-w-[700px] lg:max-w-[900px] md:mx-auto lg:mb-10">
        <div class="flex flex-col items-start w-full gap-3">
            <div class="product-subheader !text-left">Founded in 2007, Compass Insurance Group is a powerhouse that prides itself in working with the senior community.</div>
            <p>Compass Insurance Group started in 2007 to serve the needs of the senior community.  The group’s founder, Gary Nolley, realized the market was under-served, and knew that the Medicare process was challenging for many individuals.  With so many products and companies out there, the decision-making process is often overwhelming. Gary set out to address those needs, and his commitment and knowledge has been instilled in all the agents at Compass. Compass strives to ensure its clients are informed and knowledgeable about the products which they buy – both before and after the purchase. Compass also represents companies and products of the traditional insurance and annuity variety.  Many of our agents started in these markets before joining Compass, so their knowledge and experience in these areas is immense.</p>
            <p>In addition to specializing in the Senior Market, Compass Insurance can also help with Marketplace (ACA) insurance, life insurance, and rolling your 401k, pension, or CD’s into an annuity for your retirement. </p>
            <p>No matter the products you are in the market for, Compass is here for you – helping you navigate the insurance maze.</p>
        </div>
        <div class="product-header text-center mx-auto">Meet the team</div>
        <div class="flex flex-col gap-3 md:gap-0">
            <div class="team-member">
                <div class="member-image">
                    <Image alt="headshot of Gary Nolley, and agent and the founder of Compass Insurance Group" src={gary} height={768} width={512} loading="lazy" />
                </div>
                <div class="member-description">
                    <div class="member-name">
                        <div>Gary Nolley</div>
                        <p>Founder, Agent</p>
                    </div>
                    <p>Throughout his career, Gary has served in many roles, including district manager, trainer, and national manager. He formed Compass Insurance Group in 2007 in order to focus on serving the unique needs of the Senior population and the baby boomer generation. This specialized focus allows him to stay on top of the latest trends and products and enables him to provide the best service possible.</p>
                </div>
            </div>
            <div class="team-member">
                <div class="member-image">
                    <Image alt="headshot of Ashley Livezy, an agent at Compass Insurance Group" src={ashley} height={768} width={512} loading="lazy" />
                </div>
                <div class="member-description">
                    <div class="member-name">
                        <div>Ashley Livezy</div>
                        <p>Agent</p>
                    </div>
                    <p>Ashley has been a licensed agent since 2017. After graduating from Indiana University, she worked for an Insurance Marketing Organization learning the ins-and-outs of insurance companies, the senior and ACA markets, life, and annuities.</p>
                </div>
            </div>
            <div class="team-member !pb-0">
                <div class="member-image">
                    <Image alt="headshot of Carrie Noel, the office administrator of Compass Insurance Group" src={carrie} height={768} width={512} loading="lazy" />
                </div>
                <div class="member-description">
                    <div class="member-name">
                        <div>Carrie Noel</div>
                        <p>Office Administrator</p>
                    </div>
                    <p>Carrie joined Compass in August of 2018. She has played an integral part in the growth of our agency. Carrie is a licensed agent but her primary roles are as our administrative assistant and customer service representative. She is very knowledgeable about all of our products and services and she is your go to person when you call or stop in with questions.</p>
                </div>
            </div>
        </div>
        <Button className="w-[80%] max-w-[425px] mx-auto md:my-4 lg:my-0 md:w-full lg:w-80 lg:mx-0 lg:mt-3" href="/contact">Questions? Contact an agent</Button>
        <Quicklinks className="lg:hidden mb-6 mx-auto md:max-w-[700px]" showDropdown="true" />
    </div>
</Layout>
<style>
    .team-member {
        @apply flex flex-col md:flex-row gap-3 md:gap-8 pb-2 md:pb-0 items-center;
    }
    .team-member:nth-child(even) {
        @apply md:border-b md:border-t md:py-6 md:my-6;
    }
    .member-image {
        @apply flex-none h-64 w-[171px] md:h-72 md:w-48 md:basis-48 lg:h-96 lg:w-64 lg:basis-64;
    }
    .member-image img {
        @apply h-full w-full;
    }
    .member-description {
        @apply flex flex-col gap-3 text-sm md:text-base;
    }
    .member-name {
        @apply text-center md:text-left;
    }
    .member-name div {
        @apply font-bold text-lg;
    }
    .member-name p {
        @apply italic text-sm;
    }
</style>
