---
import Address from '../components/Address.astro';
import Button from '../components/ui/Button.astro';
import Layout from '../layouts/Layout.astro';
import Tile from '../components/Tile.astro';

import config from '../config/default.json';
import { Image } from 'astro:assets';

import homeBanner from '../images/homeBanner.jpg';
import homeSquare from '../images/homeSquare.jpg';
import stars from '../images/stars.png';

import Quicklinks from '../components/Quicklinks.astro';
import Testimonials from '../components/Testimonials.tsx';
---
<Layout title="Compass Insurance Group - Shelbyville Indiana Insurance">
	<main class="">
		<Image alt="Family sitting in their living room" src={homeBanner} class="lg:hidden" loading="eager" />
		<div class="relative bg-gradient-to-b from-transparent to-[#accbee60] px-4 lg:px-10 pb-6">
			<div class="max-w-[1200px] mx-auto relative z-30">
				<div class="flex flex-col gap-2 lg:gap-3 xl:gap-4 items-center text-center py-6 lg:py-8 xl:py-10 lg:pl-4 xl:pt-12 lg:items-start">
					<div class="font-normal text-base md:text-lg lg:text-2xl xl:text-3xl">Welcome to Compass Insurance Group</div>
					<div class="font-bold text-xl md:text-2xl lg:text-3xl xl:text-4xl">Helping you navigate the insurance maze</div>
				</div>
				<div class="lg:py-8 lg:border-light lg:px-4 lg:bg-[#ffffffcc] lg:rounded-md lg:shadow-lg">
					<div class="text-sm font-bold text-center lg:text-left mb-6 md:text-base lg:text-xl">Select a product for more information</div>
					<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-3 lg:gap-4 ">
						{config.tiles.map((t, i) => (
							<Tile dictionary={t} index={i}/>
						))}
					</div>
				</div>
				<Button className="mt-6 w-[80%] lg:w-80 mx-auto lg:mx-4" href="#">Contact an agent</Button>
			</div>
			<div class="hidden lg:block"><Image alt="Family sitting in their living room" src={homeSquare} class="absolute w-1/2 xl:w-1/3 h-full right-0 top-0 object-cover" loading="eager" /></div>
		</div>
		<div class="lg:px-10">
			<div class="flex flex-col lg:flex-row lg:gap-6 max-w-[1200px] mx-auto relative z-30 lg:py-2 lg:justify-between lg:items-center">
				<div class="relative hidden lg:flex lg:w-[60%]">
					<Image alt="5 stars" src={stars} quality="max" class="absolute top-[calc(50%-130px)] left-[-40px]" />
					<Testimonials client:load />
				</div>
				<Address className="py-6 px-10 lg:px-0 max-w-md mx-auto lg:mx-0 lg:w-[40%]" />
				<Quicklinks className="lg:hidden mb-6 px-10" />
			</div>
		</div>
	</main>
</Layout>

../components/Testimonials.tsx