---
import buildingImage from '../images/building.jpg';
import pinpointIcon from '../images/icons/pinpointIcon.png';
import smartphoneIcon from '../images/icons/smartphoneIcon.png';
import clockIcon from '../images/icons/clockIcon.png';

import { Image } from 'astro:assets';

type Props = {
    className?: string
}

const { className } = Astro.props
---
<div class={`flex flex-col gap-5 ${className}`}>
    <Image alt="Compass Insurance building" src={buildingImage} />
    <div class="flex flex-col gap-3">
        <div class="address-item">
            <div class="address-icon"><Image alt="icon of a map pin point" src={pinpointIcon} width="60" /></div>
            <div class="address-text">103 West Boggstown Road, Shelbyville, Indiana 46176</div>
        </div>
        <div class="address-item">
            <div class="address-icon phone"><Image alt="icon of a smartphone" src={smartphoneIcon} width="44" /></div>
            <div class="address-text">317-398-9321</div>
        </div>
        <div class="address-item">
            <div class="address-icon"><Image alt="icon of a clock" src={clockIcon} width="60" /></div>
            <div class="address-text">9am to 5pm EST Monday-Friday</div>
        </div>
    </div>
</div>

<style>
    .address-item {
        @apply flex items-center gap-2;
    }
    .address-icon {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 30px;
    }
    .address-icon.phone {
        height: 44px;
    }
    .address-icon.phone img {
        height: 100%;
        object-fit: contain;
        width: 22px;
    }
    .address-text {
        @apply text-accent-blue text-xs;
    }
</style>