---
import Accordion from './ui/Accordion';
import config from '../config/default.json';
import MaterialIcons from './ui/MaterialIcons.tsx';

const links = config.links;

type Props = {
    className?: string
    showDropdown?: boolean
}

const { className, showDropdown } = Astro.props
---
<div class={`quick-items flex flex-col w-full ${className}`}>
    {showDropdown && (
        <div class="quick-item">
            <Accordion client:load title="Products & Services">
                <div class="flex flex-col gap-2 mt-2 text-base dropdown-list">
                    <a href={links.healthInsurance.href}>{links.healthInsurance.text}</a>
                    <a href={links.medicare.href}>{links.medicare.text}</a>
                    <ul class="!gap-2 !ml-6 !list-none !pl-0">
                        <li><a href={links.medicarePartA.href}>{links.medicarePartA.text}</a></li>
                        <li><a href={links.medicarePartB.href}>{links.medicarePartB.text}</a></li>
                        <li><a href={links.medicarePartC.href}>{links.medicarePartC.text}</a></li>
                        <li><a href={links.medicarePartD.href}>{links.medicarePartD.text}</a></li>
                        <li><a href={links.medicareSupplement.href}>{links.medicareSupplement.text}</a></li>
                    </ul>
                    <a href={links.longTermCare.href}>{links.longTermCare.text}</a>
                    <a href={links.lifeInsurance.href}>{links.lifeInsurance.text}</a>
                    <a href={links.annuities.href}>{links.annuities.text}</a>
                </div>
            </Accordion>
        </div>
    )}
    <a href={links.about.href} class="quick-item">
        <div>{links.about.text}</div>
        <MaterialIcons icon="LaunchIcon" />
    </a>
    <a href={links.faq.href} class="quick-item">
        <div>{links.faq.text}</div>
        <MaterialIcons icon="LaunchIcon" />
    </a>
    <a href={links.contact.href} class="quick-item">
        <div>{links.contact.text}</div>
        <MaterialIcons icon="LaunchIcon" />
    </a>
</div>

<style>
    .quick-items .quick-item {
        border-bottom: 1px solid #e6e6e6;
    }
    .quick-items .quick-item:first-child {
        border-top: 1px solid #e6e6e6;
    }
    .quick-item {
        @apply flex justify-between py-4 items-center;
        font-size: 20px;
    }
    .dropdown-list a {
        text-decoration: underline;
    }
</style>