---
import config from '../config/default.json';

const links = config.links;
const { className, page } = Astro.props;
const current = page.indexOf('#') > -1 ? page.split('#')[1] : page
---
<div class={className}>
    <div class="flex flex-col gap-5 text-sm">
        <a href={links.healthInsurance.href} class={current == 'healthinsurance' ? 'font-bold' : ''}>{links.healthInsurance.text}</a>
        <ul class="!gap-2 !pl-8">
            <a href={links.medicare.href} class={`-ml-8 ${current == 'medicare' ? 'font-bold' : ''}`}>{links.medicare.text}</a>
            <a href={links.medicarePartA.href} class={current == 'medicareparta' ? 'font-bold' : ''}>{links.medicarePartA.text}</a>
            <a href={links.medicarePartB.href} class={current == 'medicarepartb' ? 'font-bold' : ''}>{links.medicarePartB.text}</a>
            <a href={links.medicarePartC.href} class={current == 'medicarepartc' ? 'font-bold' : ''}>{links.medicarePartC.text}</a>
            <a href={links.medicarePartD.href} class={current == 'medicarepartd' ? 'font-bold' : ''}>{links.medicarePartD.text}</a>
            <a href={links.medicareSupplement.href} class={current == 'medicaresupplement' ? 'font-bold' : ''}>{links.medicareSupplement.text}</a>
        </ul>
        <a href={links.longTermCare.href} class={current == 'longtermcare' ? 'font-bold' : ''}>{links.longTermCare.text}</a>
        <a href={links.lifeInsurance.href} class={current == 'lifeinsurance' ? 'font-bold' : ''}>{links.lifeInsurance.text}</a>
        <a href={links.annuities.href} class={current == 'annuities' ? 'font-bold' : ''}>{links.annuities.text}</a>
    </div>
</div>
